<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/modera70/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="modera70" />
            <add key="ClearTextPassword" value="56f8a1f01aace8c47032118e160741a41c15b345" />
        </github>
		
    </packageSourceCredentials>
</configuration>